.light {
    background: #eee;
    padding: 0 16px;
  }
  .brand-logo{
    height: 80px;
    width: 80px;
  }
  h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    
  }
  .login-page{
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  html {
    font-family: "Montserrat", sans-serif !important;
  }